doctype html
html 
  head 
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title bumblewords
    link(rel='stylesheet', href='bumblewords.css')
    link(rel='stylesheet', href='leaderboard.css')
    link(rel="icon" type='img/ico' href="img/favicon.ico")
    link(rel="apple-touch-icon" type='img/png' href="img/apple-touch-icon.png")
  body
    h1(class='noselect') bumblewords
    nav
      a(href='/') back to game
      |  | 
      a(href='/yesterday') yesterday's answers
      |  | 
      a(id="darkmode-toggle" href="javascript:;") dark mode
  
    if (yesterdaysWinner.nickname !== "")
      div(style='margin-top: 5px;') Yesterdays winner was #{yesterdaysWinner.nickname} with #{yesterdaysWinner.score} points.
    - var nickname = leaderboard.find(doc => doc.userId === userId) ? leaderboard.find(doc => doc.userId === userId).nickname : 'anonymous user'
    
    if showNickForm
      form(id="name-form" action="/leaderboard", method="post")
          label(for="username") your nickname:  
          input(type="text", id="username" name="username", value= nickname required)
          input(type="submit", value="submit")
    ul(id='leaderboard')
        each entry in leaderboard
            - var thisUser = (userId === entry.userId);
            - var crown = (entry.userId === leaderboard[0].userId) ? "👑" : "";
            li(class= thisUser ? "leader-entry this-user" : "leader-entry")
                span(class="crown")= crown
                span(class="userscore")= entry.score
                span(class="username")= entry.nickname
    script(src="leaderboard.js")
